<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inved.realestatemanager">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name=".utils.MainApplication"
        android:allowBackup="false"
        android:testOnly="false"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_logo_appli_realestate"
        android:label="@string/app_name_realestate"
        android:roundIcon="@mipmap/ic_logo_appli_realestate_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">

        <activity android:name=".controller.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".controller.activity.ListPropertyActivity"
            android:label="@string/page_name_activity_main"
            android:theme="@style/AppTheme"/>

        <!-- DETAIL ACTIVITY -->
        <activity
            android:name=".controller.activity.DetailActivity"
            android:label="@string/page_name_activity_detail"
            android:parentActivityName=".controller.activity.ListPropertyActivity" />

        <!-- DETAIL ACTIVITY -->
        <activity android:name=".controller.activity.FinishRegisterActivity">

        </activity>

        <!-- CREATE PROPERTY ACTIVITY -->
        <activity
            android:name=".controller.activity.CreatePropertyActivity"
            android:label="@string/page_name_activity_create_property"
            android:parentActivityName=".controller.activity.ListPropertyActivity"
             />

        <!-- PROFILE ACTIVITY -->
        <activity
            android:name=".controller.activity.AgentManagementActivity"
            android:label="@string/page_name_activity_create_property"
            android:parentActivityName=".controller.activity.ListPropertyActivity" />

        <!-- MAPS ACTIVITY -->
        <activity
            android:name=".controller.activity.MapsActivity"
            android:label="@string/page_name_activity_create_property"
            android:parentActivityName=".controller.activity.ListPropertyActivity" />

        <service
            android:name=".firebase.MyUploadService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <provider
            android:name=".provider.RealEstateManagerContentProvider"
            android:authorities="${applicationId}.provider"
            android:exported="true"/>

    </application>

</manifest>