<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inved.realestatemanager">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <application
        android:name=".utils.MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.inved.realestatemanager.controller.MainActivity"
            android:label="@string/page_name_activity_main"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DETAIL ACTIVITY -->
        <activity
            android:name=".controller.activity.DetailActivity"
            android:label="@string/page_name_activity_detail"
            android:parentActivityName=".controller.MainActivity" />

        <!-- CREATE PROPERTY ACTIVITY -->
        <activity
            android:name=".controller.activity.CreatePropertyActivity"
            android:label="@string/page_name_activity_create_property"
            android:parentActivityName=".controller.MainActivity" />

        <!-- PROFILE ACTIVITY -->
        <activity
            android:name=".controller.activity.ProfileActivity"
            android:label="@string/page_name_activity_create_property"
            android:parentActivityName=".controller.MainActivity" />

        <!-- MAPS ACTIVITY -->
        <activity
            android:name=".controller.activity.MapsActivity"
            android:label="@string/page_name_activity_create_property"
            android:parentActivityName=".controller.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>