<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inved.realestatemanager">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <application
        android:name=".utils.MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_logo_appli_realestate"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_appli_realestate_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAPS_API_KEY" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.inved.realestatemanager.controller.activity.ListPropertyActivity"
            android:label="@string/page_name_activity_main"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DETAIL ACTIVITY -->
        <activity
            android:name=".controller.activity.DetailActivity"
            android:label="@string/page_name_activity_detail"
            android:parentActivityName=".controller.activity.ListPropertyActivity" />

        <!-- CREATE PROPERTY ACTIVITY -->
        <activity
            android:name=".controller.activity.CreatePropertyActivity"
            android:label="@string/page_name_activity_create_property"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".controller.activity.ListPropertyActivity" />

        <!-- PROFILE ACTIVITY -->
        <activity
            android:name=".controller.activity.AgentManagementActivity"
            android:label="@string/page_name_activity_create_property"
            android:parentActivityName=".controller.activity.ListPropertyActivity" />

        <!-- MAPS ACTIVITY -->
        <activity
            android:name=".controller.activity.MapsActivity"
            android:label="@string/page_name_activity_create_property"
            android:parentActivityName=".controller.activity.ListPropertyActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>